.vscode/launch.json
__pycache__/app.cpython-310.pyc
__pycache__/classes.cpython-310.pyc
__pycache__/crud.cpython-310.pyc
__pycache__/setup_db.cpython-310.pyc
__pycache__/functions.cpython-310.pyc
__pycache__/functions.cpython-310.pyc
__pycache__/functions.cpython-310.pyc
__pycache__/functions.cpython-310.pyc
__pycache__/functions.cpython-310.pyc
__pycache__/app.cpython-311.pyc
__pycache__/crud.cpython-311.pyc
__pycache__/classes.cpython-311.pyc
__pycache__/functions.cpython-310.pyc
__pycache__/functions.cpython-311.pyc
__pycache__/setup_db.cpython-311.pyc
__pycache__/functions.cpython-310.pyc
document/~WRL0003.tmp
__pycache__/functions.cpython-310.pyc
students.sqbpro
students.sqbpro
.gitignore
students.sqbpro
__pycache__/functions.cpython-310.pyc
students.sqbpro
__pycache__/functions.cpython-310.pyc
students.sqbpro
__pycache__/functions.cpython-310.pyc
.gitignore
__pycache__/functions.cpython-310.pyc
students.sqbpro
.gitignore
students.sqbpro
students.sqbpro
static/style.css
__pycache__/functions.cpython-310.pyc
