/*background-color: rgb(247, 239, 228);*/
.home_main{
    display: grid;
    grid-template-columns:25vh;
    grid-template-rows: 90vh ;
    margin-top: 10px;
}
.messages_main{
    grid-column: 1;
    grid-row: span 2;
    background-color:rgb(202, 225, 248);
    border-radius: 3px 3px 3px 3px;
    overflow: auto;
    border-style: dashed;
}
.home_messages{
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-top: 10px;
    
}
.home_message_title{
    font-size: large;
    font-weight: bold;
    text-decoration: underline;
    text-align: center;
}
.list_messages{
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
}
.courses_main{
    grid-column: 2;
    grid-row: 1;
    background-repeat:no-repeat;
    display: flex;
    justify-content: center;
}
.courses_main button{
    text-decoration: underline;
    background-color: white;
    border-style: none;
}
.home_courses{
    display: flex;
    width: max-content;
    height: 90vh;
    justify-self: center;
    gap:10;
}
.back{
    width: 10vh;
    display: flex;
    justify-content:left;
}
.one_course{
    width: 60vh;
    background-position: center;
    background-size: cover;
    background-attachment:local;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 10px;
    justify-content: center;
 
}
.course_name_home{
    font-size: xx-large;
    font-weight: bolder;
    height: max-content;
    color: white;
}
.course_desc_home{
    font-size: x-large;
    font-weight: bold;
    border-style:double;
    border-width: 3px;
    overflow: auto;
    color: white;
    border-color: white;
    background-color:rgb(98, 136, 173);
}
.all_courses{
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow: auto;
    padding-bottom: 10px;
    margin-left: 10px;
    margin-top: 10px;
}
.published_search_course{
    display: flex;
    flex-direction: column;
    gap: 3px;
}
.search_home_name{
    grid-column: 1;
    font-weight: bold;
    width: max-content;
    font-size: large;
    text-decoration: underline;
}
.search_home_desc{
    grid-column: 2;
}
.forward{
    width: 10vh;
    display: flex;
    justify-content:right;
    
}
.interested{
    grid-column: 2;
    grid-row: 2;
    /*justify-content: center;*/
}
.in_interested{
    border-style:double;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
    margin-left: 10px;
}
.in_interested div{ 
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}
.in_interested form{ 
    display: flex;
    gap: 20px;
    width: max-content;
}
.ad1{
    font-size: x-large;
    font-weight: bolder;
    font-style: italic;
}
.ad2{
    font-size: larger;
    font-weight: bold;
}
.added_info{
    font-size: xx-large;
    font-weight: bolder;   
}