.main_teacher_profile{
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/*teacher react*/
.teacher_profile{
    display: flex;
    justify-content: center;    
}
.t_info{
    display: flex;
    gap: 50px;
    font-size:x-large;
    font-weight: bold;
}
.t_info>div>a{
    font-size: medium;
    font-weight: normal;
    text-decoration: none;
    color: black;
    border-width: 0.5px;
    border-style: solid;
    border-radius: 3px;
    border-color: gray;
    padding: 1px 3px 1px 2px;
    background-color: rgb(233, 229, 229);
    text-align: center;
}

/*teacherCourses react*/
            /*courses*/
            .course_information{
                display:grid;
                grid-template-columns: max-content max-content;
                grid-template-rows: max-content max-content;
                gap: 20px;
            }
            .courses_title{
                grid-column: 1;
                grid-row: 1;
                font-size: larger;
                font-weight: bold;
            }
            .t_no_courses{
                grid-column: 1;
                grid-row: 2;
                font-weight: normal; 
                font-size: large; 
            }
            .teacher_courses{
                grid-column: 1;
                grid-row: 2;
                display: flex;
                flex-direction: column;
                gap: 10px;
            }
            .t_course{
                width: 135px;
            }
            .t_course {
                display: block;
                font-size: large;   
                font-weight:normal;
            }
            .t_course_name{
                text-decoration: underline;
            }
            .t_course button:hover{
                width: max-content;
                background-color: rgb(233, 229, 229);
            }
            .t_course a:hover{
                width: max-content;
                background-color: rgb(233, 229, 229);
            }
            .teacher_nav{
                display: none;
            }
            .teacher_nav button{
                font-size: medium;
                border-style: none;
                background-color: white;
                border-radius: 2px 2px 2px 2px;
            }
            .teacher_nav a{
                font-size: medium;
                text-decoration: none;
                color: black;
                border-radius: 2px 2px 2px 2px;
            }
            .t_course:hover .teacher_nav{
                display: block;
            }
            .teacher_nav div{
                display: block;
            }


            /*courses info*/
            .t_course_info{
                grid-column: 2;
                grid-row: 2;
                display: flex;
                flex-direction: column;
                gap: 10px;
            }
            .t_course_title{
                font-weight: bold;
                text-decoration: underline;
                font-size: large;
            }
            .t_course_details{
                display: flex;
                gap: 20px; 
            }

            /*students*/
            .t_students_info{
                grid-column: 2;
                grid-row: 2;
                display: flex;
                flex-direction: column;
                gap: 20px;
            }
            .mean_grades{
                width: max-content;
            }
            .students_grid{
                display: grid;
                grid-template-columns: max-content max-content max-content max-content;
            }
            .students_grid_title{
                font-weight: bold ;
                border-bottom: solid black 1px;
                padding: 5px 5px 5px 5px;
                padding-bottom: 0px;
            }
            .students_grid_name{
                grid-column: 1;
                padding: 5px 5px 5px 5px;
            }
            .students_grid_email{
                grid-column: 2;
                border-left: solid black 1px;
                padding: 5px 5px 5px 5px;
            }
            .students_grid_phone{
                grid-column: 3;
                border-left: solid black 1px;
                padding: 5px 5px 5px 5px;
            }
            .students_grid_grade{
                grid-column: 4;
                border-left: solid black 1px;
                padding: 5px 5px 5px 5px;
            }

            /*statistics*/
            .t_statistics{
                grid-column: 2;
                grid-row: 2;
                display: flex;
                flex-direction: column;
                gap: 15px;
            }
            .no_student{
                font-weight: bold;
                font-size: large;
            }
            .average_note{
                font-size: small;
            }
            .t_no_messages{
                grid-column: 2;
                grid-row: 2;
                font-weight: bold;
                font-size: large;
            }
            .t_messages{
                grid-column: 2;
                grid-row: 2;
                display: flex;
                flex-direction: column;
                gap: 10px;
            }
 /*attendance*/
.main_check_attend{
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: max-content;
    margin: auto;
    margin-top: 30px;
    padding: 15px 15px 15px 15px;
    border-width: 1px;
    border-style: solid;
    border-radius: 3px;
}
.course_name_attend{
    font-weight: bolder;
    font-size:larger;
    width: max-content;
    text-decoration: underline;
}
.current_date{
    font-weight: bold;
    font-size: large;
    width: max-content;
}
.students{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.done{
    text-align: right;
    margin-top: 20px;
}
.done a{
    text-decoration: none;
    color: black;
    border-width: 1.5px;
    border-style: solid;
    border-radius: 3px;
    border-color: gray;
    padding: 1px 3px 1px 2px;
    background-color: rgb(233, 229, 229);
    width: max-content;
}
.student_atten>*{
    display: flex;
    flex-direction: row;
}
.student_name_attend{
    width:250px;
    font-size: large;
}
.answer{
    display: flex;
    width: 200px;
    justify-content: space-between;
}

/*grades*/
.main_update_grade{
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: max-content;
    margin: auto;
    margin-top: 30px;
    padding: 15px 15px 15px 15px;
    border-width: 1px;
    border-style: solid;
    border-radius: 3px;
}
.students_grades{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.t_student_grade{
    width: 40px;
}

/*more studentCourses*/
.messages_grid{
    display: grid;
    grid-template-columns: max-content max-content;
    gap: 15px;
}
.message_text{
    grid-column: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.message_time{
    grid-column: 2;
    display: flex;
    flex-direction: column;
    gap: 10px;
}