/*all*/
.links{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-left: 20px;
    grid-column: 1;
}

.link>*{
    text-decoration: none;
    color: black;
}
.link>a:hover{
    background-color: rgb(201, 248, 248);
    border-radius: 2px;
}
#submit{
    border-style: solid;
    border-width: 1px;
    font-size: medium;
    font-weight: bolder;
}
.note{
    font-size: x-large;
    width: max-content;

}
.more_links{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-left: 20px;
    font-size:small;
    width: 120px;
}

/*header*/
.navbar{
    width: 100%;
    text-decoration: none;
    display: flex;
    justify-content: space-around;
}
.navbar>*{
    text-decoration: none;
    color: black;
}
.navbar>a:hover{
    background-color: rgb(201, 248, 248);
    border-radius: 2px;
}

/*login*/
.login{
    width: 200px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
/*search*/
.main_search{
    position: relative;
    left:50px;
    top:50px
}

/*admin*/
.admin_pages{
    display: grid;
    grid-template-columns: max-content max-content max-content;
    gap: 70px;
    margin-top: 20px;
    margin-left: 20px;
}
.info_more_links{
    grid-column: 3;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.info_more_links>a{
    text-decoration: none;
    color: black;
    border-style: solid;
    border-width: 1px;
    padding: 1px 3px 1px 2px;
    background-color: rgb(233, 229, 229);
    width: max-content;
    text-align: center;
}
/*admin_courses*/
.admin_courses_main{
    grid-column: 2;
    grid-row: 1;
    display: flex; 
}
.main_course_search{
    display: flex;
    flex-direction: column;
    gap:20px;
}
.courses_list{
    display: flex;
    flex-direction: column;
    gap:10px;
}
.course_info{
    display: flex;
    gap: 10px;
    justify-content: left;
    border-bottom: solid;
    border-width: 2px;
    border-color: rgb(195, 193, 193);
}
.course_info>a{
    text-decoration: none;
    color: black;
    background-color: rgb(209, 206, 206);
}
.course_name{
    width: 150px;
}
.course_start{
    width:150px ;
}
.course_teacher{
    width: 250px;
}
.main_course_info{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.info_course_name{
    font-size:x-large;
    font-weight:bolder;
    text-decoration: underline;
}

.main_course_detail{
    display: grid;
    grid-template-columns: max-content max-content;
    gap:60px;
}
.basic_course_info{
    grid-column: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: larger;    
}
.title_course{
    font-size: large;
    font-weight: bold;    
}
.info_course_teacher>a{
    text-decoration: none;
    color: black;
}
.info_course_teacher>a:hover{
    width: max-content;
    background-color: rgb(209, 206, 206);
}
.info_course_students{
    grid-column: 2;
    display: grid;
    grid-template-columns: max-content max-content;
    grid-template-rows: max-content max-content max-content;
    font-size: larger; 
}
.title_student_name{
    grid-column: 1;
    grid-row: 2;
    border-bottom: solid black 1px;
}
.title_course_grade{
    grid-column: 2;
    grid-row: 2;
    padding-left: 5px;
    border-bottom: solid black 1px;
    border-left: solid black 1px;
}
.course_student_name{
    grid-column: 1;
    grid-row: 3;
    padding-right: 5px;
}
.course_student_name>div{
    padding-bottom: 5px;
}
.course_student_name>*>a{
    text-decoration: none;
    color: black;
}
.course_student_name>*>a:hover{   
    background-color: rgb(209, 206, 206);
    width: max-content;
}
.course_grade{
    grid-column: 2;
    grid-row: 3;
}
.course_grade>div{
    border-left: solid black 1px;
    padding-left: 15px;
    padding-bottom: 5px;
}
.no_course_students{
    grid-column: 1;
    grid-row: 2;
}
                /*attendance- course date list*/
                .dates_list_attend{
                    display: flex;
                    flex-direction: column;
                    gap:10px;
                }
                .course_attend{
                    display: flex;
                    justify-content: space-between;
                }
                .chosen_date_attend{
                    font-size: large;
                    font-weight: bold;
                    text-align: center;
                }
                .chosen_attend_attend{
                    display: grid;
                    grid-template-columns: max-content max-content max-content;
                }
                .yes{
                    grid-column: 1;
                    display: flex;
                    flex-direction: column;
                    gap: 5px;
                    border-right: solid black 1px;
                    
                }
                .yes_title{
                    border-bottom: solid black 1px;
                    padding-right: 5px;
                }
                .no{
                    grid-column: 2;
                    display: flex;
                    flex-direction: column;
                    gap: 5px;
                    border-right: solid black 1px;
                }
                .no_title{
                    padding-left: 10px;
                    border-bottom: solid black 1px;
                    padding-right: 5px;
                }
                .no_students{
                    padding-left: 10px;
                }
                .unknown{
                    grid-column: 3;
                    display: flex;
                    flex-direction: column;
                    gap: 5px;
                }
                .unknown_title{
                    padding-left: 10px;
                    border-bottom: solid black 1px;
                }
                .unknown_students{
                    padding-left: 10px;
                    padding-right: 10px;                    
                }
/*add_course*/
.main_add_courses{
    display: flex;
    grid-column: 2
}
.add_course{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 200px;
}
.add_course>input{
    border-style: none;
    background-color: rgb(218, 214, 214);
    border-radius: 10px;
}
.add_course>select{
    border-radius: 10px;
}

/*update_course*/
.courses_update{
    grid-column: 2;
    display: flex;
}
.course_option{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.info_courses_update{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: left;
}
.info_courses_update>div{
    border-bottom: solid;
    border-width: 2px;
    border-color: rgb(195, 193, 193);
    width: 250px;
}
.info_course_update>a{
    text-decoration: none;
    color: black;
}
.info_course_update>a:hover{
    background-color: rgb(236, 234, 234);
    border-radius: 2px;
}
.course_link{
    display: flex;
    gap:10px
}
.link_name{
    width: 150px;
}
/*chosen_course*/
.main_chosen_course{
    display: flex;
    flex-direction: column;
    gap:10px;
}
.title_chosen_course{
    font-weight: bold;
    font-size: larger;
}
.info_chosen_course{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 200px;
}
.info_chosen_course>input{
    border-style: none;
    background-color: rgb(218, 214, 214);
    border-radius: 10px;
}
.info_chosen_course>select{
    border-radius: 10px;
}

/*course_registration*/
.main_course_registration{
    grid-column: 2;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.course_regist{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.info_course_regist{
    display: flex;
}
.course_name_regist{
    width:150px;
}
.chosen_course_regist{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.choose_student{
    display: flex;
    flex-direction: column;
    gap: 7px;
}
.course_student_regist{
    width: 70px;
}
.choose_student>input{
    width: 180px;    
}
/*admin_students*/
.admin_students_main{
    grid-column: 2;
    grid-row: 1;
    display: flex;
}
.main_student_search{
    display: flex;
    flex-direction: column;
    gap:20px;
}
.students_list{
    display: flex;
    flex-direction: column;
    gap:10px;
    justify-content: space-between;
}
.students_list>div{
   border-bottom: solid;
   border-width: 2px;
   border-color: rgb(195, 193, 193);
}
.student_info{
    display: flex;
}
.student_info>a{
    text-decoration: none;
    color: black;
    background-color: rgb(209, 206, 206);
}
.student_name{
    width:250px;
}
.main_student_info{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.info_student_name{
    font-size:x-large;
    font-weight:bolder;
    text-decoration: underline;
}
.main_student_detail{
    display: grid;
    grid-template-columns: max-content max-content;
    gap:60px;
}
.basic_student_info{
    grid-column: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: larger;    
}
.title_student{
    font-size: large;
    font-weight: bold;
    grid-column: 1;
    grid-row: 1;
}
.info_student_courses{
    grid-column: 2;
    display: grid;
    grid-template-columns: max-content max-content;
    grid-template-rows: max-content max-content max-content;
    font-size: larger; 
}
.title_course_name{
    grid-column: 1;
    grid-row: 2;
    border-bottom: solid black 1px;
}
.title_student_grade{
    grid-column: 2;
    grid-row: 2;
    padding-left: 5px;
    border-bottom: solid black 1px;
    border-left: solid black 1px;
}
.student_course_name{
    grid-column: 1;
    grid-row: 3;
    padding-right: 5px;
}
.student_course_name>div{
    padding-bottom: 5px;
}
.student_course_name>*>a{
    text-decoration: none;
    color: black;
}
.student_course_name>*>a:hover{   
    background-color: rgb(209, 206, 206);
    width: max-content;
}
.student_grade{
    grid-column: 2;
    grid-row: 3;
}
.student_grade>div{
    border-left: solid black 1px;
    padding-left: 15px;
    padding-bottom: 5px;
}
.no_student_courses{
    grid-column: 1;
    grid-row: 2;
}

/*add_student*/
.main_students{
    grid-column: 2;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 20px;
}
.add_student{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 200px;
}
.add_student>input{
    border-style: none;
    background-color: rgb(218, 214, 214);
    border-radius: 10px;
}

/*update_student*/
.main_student_update{
    grid-column: 2;
    display: flex;
}
.student_option{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.info_student_update{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: left;
}
.info_student_update>div{
    border-bottom: solid;
    border-width: 2px;
    border-color: rgb(195, 193, 193);
    width: 150px;
}
.info_student_update>a{
    text-decoration: none;
    color: black;
}
.info_student_update>a:hover{
    background-color: rgb(236, 234, 234);
    border-radius: 2px;
}

/*chosen_student*/
.main_chosen_student{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}
.title_chosen_student{
    font-weight: bold;
    font-size: larger;
}
.info_chosen_student{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 200px;
}
.info_chosen_student>input{
    border-style: none;
    background-color: rgb(218, 214, 214);
    border-radius: 10px;
}
.info_chosen_student>select{
    border-radius: 10px;
}

/*student_registration*/
.main_student_registration{
    grid-column: 2;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.students_regist{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.info_student_regist{
    display: flex;
}
.student_name_regist{
    width:200px;
}
.chosen_student_regist{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.choose_course{
    display: flex;
    flex-direction: column;
    gap: 7px;
}
.student_course_regist{
    width: 70px;
}
.choose_course>input{
    width: 180px;    
}
/*admin_teachers*/
.admin_teachers_main{
    grid-column: 2;
    display: flex;
}
.main_teacher_search{
    display: flex;
    flex-direction: column;
    gap:20px;
}
.teachers_list{
    display: flex;
    flex-direction: column;
    gap:10px;
    justify-content: space-between;
}
.teachers_list>div{
   border-bottom: solid;
   border-width: 2px;
   border-color: rgb(195, 193, 193);
}
.teacher_info{
    display: flex;
}
.teacher_info>a{
    text-decoration: none;
    color: black;
    background-color: rgb(209, 206, 206);
}
.teacher_name{
    width:250px;
}
.main_teacher_info{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.info_teacher_name{
    font-size:x-large;
    font-weight:bolder;
    text-decoration: underline;
}
.main_teacher_detail{
    display: grid;
    grid-template-columns: max-content max-content;
    gap:60px;
}
.basic_teacher_info{
    grid-column: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: larger;    
}
.title_teacher{
    font-size: large;
    font-weight: bold;
    grid-column: 1;
    grid-row: 1;
}
.teacher_course_name{
    display: flex;
    flex-direction: column;
    gap: 7px;
}
.teacher_course_name>*>a{
    text-decoration: none;
    color: black;
}
.teacher_course_name>*>a:hover{
    background-color: rgb(209, 206, 206);
}
/*add_teacher*/
.main_teachers{
    grid-column: 2;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 20px;
}
.add_teacher{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 200px;
}
.add_teacher>input{
    border-style: none;
    background-color: rgb(218, 214, 214);
    border-radius: 10px;
}

/*update_teacher*/
.main_update_teacher{
    grid-column: 2;
    display: flex;
}

.teacher_option{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.info_teacher_update{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: left;
}
.info_teacher_update>div{
    border-bottom: solid;
    border-width: 2px;
    border-color: rgb(195, 193, 193);
    width: 150px;
}
.info_teacher_update>a{
    text-decoration: none;
    color: black;
}
.info_teacher_update>a:hover{
    background-color: rgb(236, 234, 234);
    border-radius: 2px;
}

/*chosen_teacher*/
.main_chosen_teacher{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 20px;
}
.title_chosen_teacher{
    font-weight: bold;
    font-size: larger;
}
.info_chosen_teacher{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 200px;
}
.info_chosen_teacher>input{
    border-style: none;
    background-color: rgb(218, 214, 214);
    border-radius: 10px;
}
.info_chosen_teacher>select{
    border-radius: 10px;
}

/*attendance*/
.main_atten{
    margin-left: 40px;
}

        /*attendance- start search*/
        .search_grid{
            display: grid; 
            grid-template-columns: max-content max-content ;
            gap: 200px;
            margin-left: 20px;
            margin-top: 20px;
        }
        
        /*attendance- course search*/
        .names_courses{
            grid-column: 1;
            display: flex;
            flex-direction: column;
            gap: 10px;

        }
        .courses_list>a{
            color: black;
            text-decoration: none;
            width: max-content;
        }
        .courses_list>a:hover{
            background-color: rgb(236, 234, 234);
            border-radius: 2px;
        }

        /*attendance- student search*/
        .students_attend_search{
            grid-column: 2;
            display: flex;
            flex-direction: column;
            gap: 10px;
        }
        .students_search_list{
            display: flex;
            flex-direction: column;
            gap: 10px;
        }
        .students_search_list>a{
            color: black;
            text-decoration: none;
            width: max-content;
        }
        .students_search_list>a:hover{
            background-color: rgb(236, 234, 234);
            border-radius: 2px;
        }
        .student_courses{
            display: flex;
            flex-direction: column;
            gap: 10px;
        }
        .course_dates{
            display: flex;
            flex-direction: column;
            gap: 10px;
        
        }

                /*attendance- course current date*/
                .course_name_attend{
                    font-weight: bolder;
                    font-size:x-large;
                    width: max-content;
                    margin-bottom: 20px;
                }
                .attend_grid{
                    display: grid; 
                    grid-template-columns: max-content max-content ;
                    gap: 200px;
                }
                .course_attenance{
                    grid-column: 1;
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                }

                .date{
                    font-weight: bold;
                    font-size: larger;
                    width: max-content;
                }
                .students{
                    display: flex;
                    flex-direction: column;
                    gap: 5px;
                }
                .student_atten>*{
                    display: flex;
                }
                .student_name_attend{
                    width:250px;
                    font-size: large;
                }
                .answer{
                    display: flex;
                    width: 200px;
                    justify-content: space-between;
                }
                
                /*attendance- course date list*/
                .dates_list{
                    grid-column: 2;
                    display: flex;
                    flex-direction: column;
                    gap:10px;
                }

                .chosen_date{
                    font-size: large;
                    font-weight: bold;
                    text-align: center;
                }
                .chosen_attend{
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                }
                .yes{
                    grid-column: 1;
                    display: flex;
                    flex-direction: column;
                    gap: 5px;
                    border-right: solid black 1px;
                }
                .yes_title{
                    border-bottom: solid black 1px;
                }
                .no{
                    grid-column: 2;
                    display: flex;
                    flex-direction: column;
                    gap: 5px;
                }
                .no_title{
                    padding-left: 10px;
                    border-bottom: solid black 1px;
                }
                .no_students{
                    padding-left: 10px;
                }