{% include "admin_nav_teachers.html" %}

    <div class="main_teachers">
        <form class="add_teacher" action="" method="POST">
            New Teacher Name: <input type="text" name="new_name">
            New Teacher Email: <input type="email" name="new_email" title="example@example.com">
            New Teacher Mobile Number: <input type="tel" name="new_phone" title="example: 050-1234567"  pattern="[0-9]{3}-[0-9]{7}">
            <input id="submit" type="submit" value="submit">
        </form>    
    </div>
</div>