{% include "admin_nav_students.html" %}

    <div class="main_students">
        <form class="add_student" action="" method="POST">
            New Student Name: <input type="text" name="new_name">
            New Student Email: <input type="email" name="new_email" title="example@example.com">
            New Student Mobile Number: <input type="tel" name="new_phone" title="example: 050-1234567"  pattern="[0-9]{3}-[0-9]{7}">
            <input id="submit" type="submit" value="submit">
        </form>
        <div class="note">{{note}}</div>    
    </div>
    <div class="info_more_links">
        {% for l in student_dict.link1 %}
        <div>
            <a href="/chosen_student/{{student_dict.id}}">Update</a>
        </div>           
        {% endfor %}
        {% for l in student_dict.link2 %}
        <div>
            <a href="/attendance_student/{{student_dict.id}}">Check Attendance</a>
        </div>               
        {% endfor %}
        {% for l in student_dict.link3 %}
        <div>
            <a href="/update_student_attendance/{{student_dict.id}}">Update Attendance</a>
        </div>            
        {% endfor %}
    </div>  
</div>