{% include "admin_nav_students.html" %}

    <div class="admin_students_main">
    <div class="student_search">
        <form action="" method="POST">
            <input type="text" name="search" placeholder="Enter student name">
            <input type="submit" value="Search">
        </form>
    </div>
    <div class="students_list">
        {{result}}
        {% for student in students_objects %}
        <div class="student_info">
            <span class="student_name">{{student.name}}</span>
            <a href="/student_info/{{student.tid}}">Information</a>
        </div>
        {% endfor %}
        {% for student in students %}
        <div class="student_info">
            <div class="student_name">{{student.name}}</div>
            <a href="/student_info/{{student.tid}}">Information</a>
        </div>
        {% endfor %}
    </div>
</div>