{% extends "base.html" %}
{% block content %}
<div id="helloAdmin"></div>
<div class="admin_pages">
    <div class="links">
        <div class="link"><a href="/admin_courses">Course</a></div>
            <div class="more_links">
                <div class="link"><a href="/add_course">Add New Course</a></div>
                <div class="link"><a href="/update_courses">Update Course</a></div>
                <div class="link"><a href="/course_registration">Add Student to Course</a></div>
            </div>
        <div class="link"><a href="/admin_students">Students</a></div>
        <div class="link"><a href="/admin_teachers">Teachers</a></div>
    </div>
{% endblock %}