{% include "admin_nav_teachers.html" %}

    <div class="admin_teachers_main">
    <div class="teacher_search">
        <form action="" method="POST">
            <input type="text" name="search" placeholder="Enter student name">
            <input type="submit" value="Search">
        </form>
    </div>
    <div class="teachers_list">
        {{result}}
        {% for teacher in teachers_objects %}
        <div class="teacher_info">
            <span class="teacher_name">{{teacher.name}}</span>
            <a href="/teacher_info/{{teacher.tid}}">Information</a>
        </div>
        {% endfor %}
        {% for teacher in teachers %}
        <div class="teacher_info">
            <div class="teacher_name">{{teacher.name}}</div>
            <a href="/teacher_info/{{teacher.tid}}">Information</a>
        </div>
        {% endfor %}
    </div>
</div>