{% extends "base.html" %}
{% block content %}
<div class="hello_admin">{{info.hello}}</div>
<div class="admin_pages">
    <div class="links">
        <div class="link"><a href="/admin_courses">Course</a></div>
        <div class="link"><a href="/admin_students">Students</a></div>
        <div class="link"><a href="/admin_teachers">Teachers</a></div>
        <div class="more_links">
            <div class="link"><a href="/add_teacher">Add New Teacher</a></div>
            <div class="link"><a href="/update_teachers">Update Teacher</a></div>
        </div>
        <div class="link"><a href="/advertising_courses">Courses to Advertising </a></div>
        <div class="link"><a href="/show_messages">Messages</a></div>
        <!-- <div class="link"><a href="/show_interested">Interested</a></div> -->
        <div class="link"><a href="/user_info_update/{{admin_id}}">Update Information</a></div>
    </div>
{% endblock %}