
{% include "admin_nav_courses.html" %}
    
    <div class="admin_courses_main">        
        <div class="main_course_search">
            <div class="course_search">
                {% for f in form %}
                <form action="" method="POST">
                    <input type="text" name="search" placeholder="Enter course name">
                    <input type="submit" value="Search">
                </form>
                {% endfor %}
            </div>
            <div class="courses_list">
            {{result}}
                {% for course in courses_objects %}            
                <div class="course_info">
                    <span class="course_name"> {{course.name}}:</span>
                    <span class="course_start">{{course.start}}</span>
                    <span class="course_teacher">{{course.teacher_id}}</span>
                    <a href="/course_info/{{course.tid}}">Information</a>
                </div>
                {% endfor %}
                {% for course in courses_teachers %}            
                <div class="course_info">
                    <div class="course_name"> {{course.name}}:</div>
                    <div class="course_start">{{course.start}}</div>
                    <div class="course_teacher">{{course.teacher_id}}</div>
                    <a href="/course_info/{{course.tid}}">Information</a>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="dates_list_attend" >              
            {% for chose in course_attend.chose_date %}
                <div class="info_course_name">{{course_attend.course_name}}</div>
                <div class="average_course_attend">
                    <div class="date_attend">{{course_attend.average_attend}}</div>
                    <div class="average_course_attend_note">{{course_attend.average_note}}</div>
                </div>
                <div class="date_attend">{{course_attend.chose_date[0]}}</div>
                <div>           
                    <form class="form_select_attend" action="", method="post" >            
                        {% for chose in course_attend.select %}
                            <select name="chosen_date" id="">
                                {% for date in course_attend.dates %}
                                    <option value="{{date[0]}}">{{date[0]}}</option>
                                {% endfor %}
                            </select>
                        {% endfor %}
                        {% for chose in course_attend.select %}
                            <input type="submit" name="" id="" value="Select">
                        {% endfor %}
                    </form>
                </div> 
            {% endfor %}
            <div class="chosen_date_attend">{{course_attend.chosen_date}}</div>
            {% for f in course_attend.form %}
            <div class="chosen_attend_attend">
                <div class="yes">
                    <div class="yes_title" >{{course_attend.yes_title}}</div>
                    {% for name in course_attend.attend %}
                    <div>{{name[1]}}</div>
                    {% endfor %}
                </div>
                <div class="no">
                    <div class="no_title" >{{course_attend.no_title}}</div>
                    {% for name in course_attend.not_attend %}
                        <div class="no_students">{{name[1]}}</div>
                    {% endfor %}
                </div>
                <div class="unknown">
                    <div class="unknown_title" >{{course_attend.unknown_title}}</div>
                    {% for name in course_attend.unknown %}
                        <div class="unknown_students">{{name[1]}}</div>
                    {% endfor %}
                </div>
             </div>
             {% endfor %}
        </div>
        <div class="update_course_attend">
        {% for chose in attend_update.chose_date %}
            <div class="info_course_name">{{attend_update.course_name}}</div>
            <div class="date_attend">{{attend_update.chose_date[0]}}</div>      
            <div class="course_lessons">
                {% for date in attend_update.dates %}
                    <a href="/update_course_date_attendance/course_id={{attend_update.id}}date={{date[0]}}">{{date[0]}}</a>
                {% endfor %}
            </div>
            <div class="date_attend">{{attend_date_update.title_date}}</div>
            <div class="atten_details">
                {% for student in attend_date_update.students_attend %}
                <div class="student_atten">
                    <form   method="post">
                        <div class="update_name_attend">{{student.name}}</div>
                        <div class="answer_update"> 
                            <div>Yes<input type="radio" name="attendance" id="" value="yes" {{student.attend.yes}}></div>
                            <div>No<input type="radio" name="attendance" id="" value="no" {{student.attend.no}}></div>
                            <div><input name="form2" type="submit" value="Set"></div> 
                            <input type="hidden" name="student_id" value="{{student.id}}"> 
                        </div>
                    </form>
                </div>
                {% endfor %}
            </div>
        {% endfor %}
        </div> 
        {% for c in course_dict.course %}
        <div class="main_course_info">       
            <div class="info_course_name">{{c.name}}</div>          
            <div class="main_course_detail">
                <div class="basic_course_info" >
                    <div class="info_course_description"><span class="title_course">Description: </span>{{c.description}}</div>
                    <div class="info_course_teacher"><span class="title_course">Teacher: </span><a href="/teacher_info/{{c.teacher_id[0]}}">{{c.teacher_id[1]}}</a></div>
                    <div class="info_course_start"><span class="title_course">Start: </span>{{c.start}}</div>
                    <div class="info_course_day"><span class="title_course">Day: </span>{{c.day}}</div>
                    <div class="info_course_time"><span class="title_course">Time: </span>{{c.time}}</div>                
                </div>
                <div class="info_course_students">
                    <div class="title_course" style="margin-bottom: 10px;">{{course_dict.students_title}}</div>
                    {% for f in  course_dict.form %}
                    <div class="title_student_name">{{course_dict.student_name}}</div>
                    <div class="title_course_grade">{{course_dict.student_grade}}</div>
                    {% endfor %}
                    <div class="course_student_name">
                        {% for student in course_dict.students %}
                        <div><a href="/student_info/{{student.id}}">{{student.name}}</a></div>
                        {% endfor %}
                    </div>
                    <div class="course_grade">
                        {% for student in course_dict.students %}
                        <div class="">{{student.grade}}</div>
                        {% endfor %}                    
                    </div>
                    <div class="no_lesson">{{course_dict.no_lesson}}</div>
                    <div class="no_course_students">{{course_dict.no_students}}</div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>  
    <div class="info_more_links">
        {% for l in course_dict.link1 %}
        <div>
            <a href="/chosen_course/{{course_dict.id}}">Update course</a>
        {% endfor %}
        </div>
        <div>
        {% for l in course_dict.link2 %}
            <a href="/attendance_course/{{course_dict.id}}">Check Attendance</a>
        {% endfor %}
        </div>
        <div>
        {% for l in course_dict.link3 %}
            <a href="/update_course_attendance/{{course_dict.id}}">Update Attendance</a>           
        {% endfor %} 
        </div>
    </div>  
</div>
