
{% include "admin_nav_courses.html" %}
    <div class="admin_courses_main">
        <div class="course_search">
            <form action="" method="POST">
                <input type="text" name="search" placeholder="Enter course name">
                <input type="submit" value="Search">
            </form>
        </div>
        <div class="courses_list">
        {{result}}
        {% for course in courses_objects %}            
            <div class="course_info">
                <span class="course_name"> {{course.name}}:</span>
                <span class="course_start">{{course.start}}</span>
                <span class="course_teacher">{{course.teacher_id}}</span>
                <a href="/course_info/{{course.tid}}">Information</a>
            </div>
            {% endfor %}
        </div>        
        <div class="courses_list">
        {% for course in courses_teachers %}            
            <div class="course_info">
                <div class="course_name"> {{course.name}}:</div>
                <div class="course_start">{{course.start}}</div>
                <div class="course_teacher">{{course.teacher_id}}</div>
                <a href="/course_info/{{course.tid}}">Information</a>
            </div>
        {% endfor %}
        </div>
    </div>
</div>

