{% include "admin_nav_students.html" %}

    <div class="admin_students_main">
        <div class="main_student_search">
            <div class="student_search">
                {% for f in form %}
                <form action="" method="POST">
                    <input type="text" name="search" placeholder="Enter student name">
                    <input type="submit" value="Search">
                </form>
                {% endfor %}
            </div>
            <div class="students_list">
                {{result}}
                {% for student in students_objects %}
                <div class="student_info">
                    <span class="student_name">{{student.name}}</span>
                    <a href="/student_info/{{student.tid}}">Information</a>
                </div>
                {% endfor %}
                {% for student in students %}
                <div class="student_info">
                    <div class="student_name">{{student.name}}</div>
                    <a href="/student_info/{{student.tid}}">Information</a>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="student_courses">
            <div class="info_student_name" >
                <a href="/student_info/{{student_dict.id}}">{{student_attend.student_name}}</a>
            </div>
            <div>
                {% for form in student_attend.form1 %}
                    <form action="" method="post">
                        <select name="course_select" id="">
                            {% for course in student_attend.course_list %}
                            <option value="{{course[0]}}">{{course[1]}}</option>
                            {% endfor %}
                        </select>
                        <input type="submit" value="Select">
                    </form>
                {% endfor %}
            </div>
            <div class="average_course_attend">
                <div class="date_attend">{{student_attend.average_attend}}</div>
                <div class="average_course_attend_note">{{student_attend.average_note}}</div>
            </div>
            <div class="title_student" >
                <a href="/course_info/{{student_attend.course_id}}">{{student_attend.table_title}}</a>
            </div>
            <div class="info_student_courses">              
                {% for form in student_attend.form2 %}
                    <div class="title_course_name">{{student_attend.date_title}}</div>
                    <div class="title_student_grade">{{student_attend.attend_title}}</div>
                {% endfor %}
                <div class="student_course_name">
                    {% for lesson in student_attend.lesson_info %}
                    <div><a href="/update_student_course_attendance/student_id={{student_dict.id}}course={{lesson.c_id}}">{{lesson.date}}</a></div>
                    {% endfor %}
                </div>
                <div class="student_grade">
                    {% for lesson in student_attend.lesson_info %}
                    <div class="">{{lesson.attend}}</div>
                    {% endfor %}                    
                </div> 
            </div>
        </div>
        <div class="update_course_attend">
        {% for chose in student_attend.courses_title %}
            <div class="info_course_name">
                <a href="/student_info/{{student_dict.id}}">{{student_attend.update_title}}</a>
            </div>
            <div class="date_attend">{{student_attend.courses_title[0]}}</div>      
            <div class="choosing_course">
                {% for course in student_attend.courses %}
                    <a href="/update_student_course_attendance/student_id={{student_dict.id}}course={{course[0]}}">{{course[1]}}</a>
                {% endfor %}
            </div>
            <div class="date_attend">
                <a href="/course_info/student_attend.course_id">{{student_attend.attend_title}}</a>
            </div>
            <div class="atten_details">
                {% for date in student_attend.date_attend %}
                <div class="student_atten">
                    <form method="post">
                        <div class="update_name_attend">{{date.date}}</div>
                        <div class="answer_update"> 
                            <div>Yes<input type="radio" name="attendance" id="" value="yes" {{date.attend.yes}}></div>
                            <div>No<input type="radio" name="attendance" id="" value="no" {{date.attend.no}}></div>
                            <div><input name="form2" type="submit" value="Set"></div> 
                            <input type="hidden" name="date" value="{{date.date}}"> 
                        </div>
                    </form>
                </div>
                {% endfor %}
            </div>
        {% endfor %}
        </div>        
        {% for student in student_object %}  
        <div class="main_student_info">           
            <div class="title_info_student">
                <div class="info_student_name">{{student.name}}</div>       
            </div>            
            <div class="main_course_detail">
                <div class="basic_course_info" >
                    {% for student in student_object %}
                    <div class="info_student_email"><span class="title_student">Email: </span>{{student.email}}</div>
                    <div class="info_student_phone"><span class="title_student">Phone: </span>{{student.phone}}</div>
                    {% endfor %}
                </div>
                <div class="info_student_courses">
                    <div class="title_student" style="margin-bottom: 10px;">{{student_dict.courses_title}}</div>
                    {% for f in student_dict.form %}
                    <div class="title_course_name">{{student_dict.course_name}}</div>
                    <div class="title_student_grade">{{student_dict.course_grade}}</div>
                    {% endfor %}
                    <div class="student_course_name">
                        {% for course in student_dict.courses %}
                        <div><a href="/course_info/{{course.id}}">{{course.name}}</a></div>
                        {% endfor %}
                    </div>
                    <div class="student_grade">
                        {% for course in student_dict.courses %}
                        <div class="">{{course.grade}}</div>
                        {% endfor %}                    
                    </div> 
                    <div class="no_student_courses">{{student_dict.no_courses}}</div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="info_more_links">
        {% for l in student_dict.link1 %}
        <div>
            <a href="/chosen_student/{{student_dict.id}}">Update</a>
            <a href="/student_id_registration/{{student_dict.id}}">Add course</a>
        </div>           
        {% endfor %}
        {% for l in student_dict.link2 %}
        <div>
            <a href="/attendance_student/{{student_dict.id}}">Check Attendance</a>
        </div>               
        {% endfor %}
        {% for l in student_dict.link3 %}
        <div>
            <a href="/update_student_attendance/{{student_dict.id}}">Update Attendance</a>
        </div>            
        {% endfor %}
    </div>
</div>


