{% extends "base.html" %}
{% block content %}
<div class="main_atten" >
    <div class="search_grid" >
        <div class="names_courses">
            <div class="search">
                {% for f in form %}
                <form  action="" method="post">
                    <input type="text" name="search1" placeholder="Enter course name">
                    <input name="form1" id="form1" type="submit" value="Search">
                </form>
                {% endfor %}
            </div>
            <div>{{note1}}</div>
            <div class="courses_list">{{result1}}
                {% for course in courses_objects %}
                    <a href="/attendance/{{course.tid}}">{{course.name}}</a>
                {% endfor %}
                {% for course in courses %}
                    <a href="/attendance/{{course.tid}}">{{course.name}}</a>
                {% endfor %}
            </div>   
        </div>
        <div class="students_attend_search" >
            <div class="search">
                {% for f in form %}
                <form  action="" method="post">
                    <input type="text" name="search2" placeholder="Enter student name">
                    <input name="form2" id='form2' type="submit" value="Search">
                </form>
                {% endfor %}
            </div>
            <div class="students_search_list">{{result2}}
                {% for s in students_objects %}
                    <a href="/students_attendance/{{s.tid}}">{{s.name}}</a>
                {% endfor %}
                {% for s in students_search %}
                    <a href="/students_attendance/{{s.tid}}">{{s.name}}</a>
                {% endfor %}
            </div>       
        </div>
    </div>
    <div class="course_name_attend" >{{jinja.course_name}}</div>    
    <div class="attend_grid" >    
        <div class="course_attenance">
            <div class="date">{{jinja.current_date}}</div>
            <div class="students" >
                {% for student in students %}
                <div class="student_atten">
                    <form  class="atten_details" method="post">
                        <div class="student_name">{{student.name}}</div>
                        <div class="answer"> 
                            <div>Yes<input type="radio" name="attendance" id="" value="yes"></div>
                            <div>No<input type="radio" name="attendance" id="" value="no" checked></div>
                            <div><input type="submit" value="Set"></div> 
                            <input type="hidden" name="student_id" value="{{student.id}}">
                        </div>
                    </form>
                </div>
                {% endfor %}
            </div>
            <div class="students" >
                {% for student in students_attend %}
                <div class="student_atten">
                    <form  class="atten_details" method="post">
                        <div class="student_name">{{student.name}}</div>
                        <div class="answer"> 
                            <div>Yes<input type="radio" name="attendance" id="" value="yes" {{student.attend.yes}}></div>
                            <div>No<input type="radio" name="attendance" id="" value="no" {{student.attend.no}}></div>
                            <div><input type="submit" value="Set"></div> 
                            <input type="hidden" name="student_id" value="{{student.id}}">
                        </div>
                    </form>
                </div>
                {% endfor %}
            </div>
        </div> 
        <div class="dates_list" >              
           {% for chose in jinja.chose_date %}
           <div class="date">{{jinja.chose_date[0]}}</div>
           <div>           
                <form class="form_select" action="/attendance_chosen_date/{{jinja.course_id}}" >            
                    {% for chose in jinja.chose_date %}
                    <select name="chosen_date" id="">
                        {% for date in jinja.dates %}
                        <option value="{{date[0]}}">{{date[0]}}</option>
                        {% endfor %}
                    </select>
                    {% endfor %}
                    {% for chose in jinja.chose_date %}
                    <input type="submit" name="" id="" value="Select">
                    {% endfor %}
                </form>
            </div> 
            {% endfor %}
            <div class="chosen_date">{{dates_dict.chosen_date}}</div>
            <div class="chosen_attend">
                <div class="yes">
                    <div class="yes_title" >{{dates_dict.yes_title}}</div>
                    {% for name in dates_dict.attend_date %}
                    <div>{{name}}</div>
                    {% endfor %}
                </div>
                <div class="no">
                <div class="no_title" >{{dates_dict.no_title}}</div>
                    {% for name in dates_dict.not_attend %}
                    <div>{{name}}</div>
                    {% endfor %}
                </div>
            </div>
        </div>
    
    </div>
</div>
{% endblock %}