{% extends "base.html" %}
{% block content %}
<div class="main_atten" >
    <div class="names_courses">
        <div class="search">
            {% for form in forms[1:] %}
            <form action="" method="post">
                <input type="text" name="search" placeholder="Enter course name">
                <input type="submit" value="Search">
            </form>
            {% endfor %}
        </div>
        <div>{{note}}</div>
        <div class="courses_list">{{result}}
            {% for course in courses_objects %}
                <a href="/attendance/{{course.tid}}">{{course.name}}</a>
            {% endfor %}
            {% for course in courses %}
                <a href="/attendance/{{course.tid}}">{{course.name}}</a>
            {% endfor %}
        </div>   
    </div>
    <div class="course_name_attend" >{{course_name}}</div>    
    <div class="attend_grid" >    
        <div class="course_attenance">
            <div class="date">{{current_date}}</div>
            <div class="students" >
                {% for student in students %}
                <div class="student_atten">
                    <form  class="atten_details" method="post">
                        <div class="student_name">{{student.name}}</div>
                        <div class="answer"> 
                            <div>Yes<input type="radio" name="attendance" id="" value="yes"></div>
                            <div>No<input type="radio" name="attendance" id="" value="no" checked></div>
                            <div><input type="submit" value="Set"></div> 
                            <input type="hidden" name="student_id" value="{{student.id}}">
                        </div>
                    </form>
                </div>
                {% endfor %}
            </div>
            <div class="students" >
                {% for student in students_attend %}
                <div class="student_atten">
                    <form  class="atten_details" method="post">
                        <div class="student_name">{{student.name}}</div>
                        <div class="answer"> 
                            <div>Yes<input type="radio" name="attendance" id="" value="yes" {{student.attend.yes}}></div>
                            <div>No<input type="radio" name="attendance" id="" value="no" {{student.attend.no}}></div>
                            <div><input type="submit" value="Set"></div> 
                            <input type="hidden" name="student_id" value="{{student.id}}">
                        </div>
                    </form>
                </div>
                {% endfor %}
            </div>
        </div>               
        <div class="dates_list" >
            <div class="date">{{title[0]}}</div>
            <form action="/attendance/chosen_date/{{course_id}}" >
                {% for t in title[1:] %}
                <select name="chosen_date" id="">
                    {% for date in dates %}
                    <option value="{{date[0]}}">{{date[0]}}</option>
                    {% endfor %}
                </select>
                {% endfor %}
                {% for t in title[1:] %}
                <input type="submit" name="" id="" value="Select">
                {% endfor %}
            </form>
            
        </div>
    </div>
</div>
{% endblock %}