{% include "admin_teachers.html" %}
<div class="main_chosen_teacher">
    <div class="title_chosen_teacher">Edit the Changes:</div>
    <form class="info_chosen_teacher" action="" method="POST">
        {% for teacher in teacher_object %}
        Teacher Name: <input type="text" name="name" value="{{teacher.name}}" >
        Teacher Email: <input type="email" name="email" value="{{teacher.email}}"  title="example@example.com">
        Teacher Phone: <input type="tel" name="phone" value="{{teacher.phone}}" title="example: 050-1234567"  pattern="[0-9]{3}-[0-9]{7}"> 
        <input id="submit" type="submit" value="submit">
        {% endfor %}
    </form>    
</div>

