<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>APP</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <script src="https://unpkg.com/react@18/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@18/umd/react-dom.development.js" crossorigin></script>
    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <!-- <script type="text/babel" src="/static/messages.js"></script> -->
   

 <div class="navbar">
    <a href="{{info.link}}" class="{{info.class}}">{{info.word}}</a> 
    <a href="/home">Home</a>   
    <a href="{{log.link}}">{{log.log}}</a>
    <form action="/search" method="">
        <input type="text" name="search" placeholder="Enter Search">
        <input type="submit" value="Search">
    </form>
 </div>   
