{% extends "base.html" %}
{% block content %}

<div class="main_login">
    {% for f in form1 %}
    <form action="" class="login" method="post">
        <input type="text" name="email" placeholder="Enter username">
        <input type="password" name="password" placeholder="Enter password">
        <input type="submit" value="Submit">
        {% for f in form %}
            <div class="login_note">{{note}}</div>
        {% endfor %} 
    </form>
    {% endfor %}    
    {% for f in form2 %}
    <form action="" method="post">
        <div class="login_note">{{note}}</div>
        <input type="password" name="new_password" placeholder="Enter new password">
        <input type="submit" value="Submit">  
    </form>
    {% endfor %}
</div>

{% endblock %}