{% extends "base.html" %}
{% block content %}

<div class="main_login">
    {% for f in form1 %}
    <div class="login_information">
        <form action="" class="login" method="post">
            <div class="user_info">
                <input type="email" name="email" placeholder="Enter username" title="example@example.com" required autofocus>
            </div>
            <div class="user_info">
                <input type="password" name="password" placeholder="Enter password" required>
            </div>
            <div class="user_info">
                <div class="more_options">
                    <input type="submit" value="Submit">
                    <a href="/forgot_password">Forgot password</a>
                </div>                
            </div>      
        </form>
    </div>
    <div class="login_note">{{note}}</div>
    {% endfor %}    
    {% for f in form2 %}
    <div class="login_note">{{note}}</div>
    <div class="login_information">
        <form action="" method="post">  
            <div class="user_info">
                <input type="password" name="new_password" placeholder="Enter new password" required autofocus>
            </div> 
            <div class="user_info">
                <input type="submit" value="Submit">
            </div>         
        </form>
    </div>
    {% endfor %}
    {% for form in jinja.form1 %}   
    <div class="login_information">
        <form action="" method="post">
            {% for user in jinja.user %}
                <div class="user_info">
                    Edit Email: <input  type="email" name="email" value="{{user.email}}"  title="example@example.com" required autofocus>
                </div> 
                <div class="user_info">
                    Edit Mobile Number: <input type="tel" name="phone" value="{{user.phone}}" title="example: 050-1234567"  pattern="[0-9]{3}-[0-9]{7}" required> 
                </div> 
            {% endfor %}
            <div class="user_info">
                <div class="more_options">
                    <input type="submit" value="Update">
                    <a href="/change_password/{{jinja.user_id}}">Change password</a>
                </div>                     
            </div>           
        </form>          
    </div>
    <div class="login_note">{{jinja.note}}</div>
    {% endfor %}
    {% for form in jinja.form2 %}
    <div class="login_information">
        <form action="" class="login" method="post">
            <div class="user_info">
                <input type="text" name="old_password" placeholder="Enter old password" required autofocus>
            </div>
            <div class="user_info">
                <input type="password" name="new_password" placeholder="Enter new password" required>
            </div>
            <div class="user_info">
                <input type="password" name="verification" placeholder="Verification new password" required>
            </div>
            <div class="user_info">
                <input type="submit" value="Submit">
            </div>      
        </form>
    </div>
    <div class="login_note">{{jinja.note}}</div>
    {% endfor %} 
    {% for form in jinja.form3 %}
    <div class="login_information">
        <form action="" class="login" method="post">
            <div class="user_info">
                <input type="text" name="username" placeholder="Enter username" required autofocus>
            </div>
            <div class="user_info">
                <input type="submit" value="Submit">
            </div>      
        </form>
    </div>
    <div class="login_note">{{jinja.note}}</div>
    {% endfor %}   
    {% for form in jinja.form4 %}
    <div class="login_information">
        <form action="" class="login" method="post">
            <div class="user_info">
                <input type="text" name="{{jinja.input_info[0]}}" placeholder="{{jinja.input_info[1]}}" required autofocus>
            </div>
            <div class="user_info">
                <input type="submit" value="Submit">
            </div>      
        </form>
    </div>
    <div class="login_note">{{jinja.note}}</div>
    {% endfor %}  
    {% for form in jinja.form5 %}
    <div class="login_information">
        <form action="" class="login" method="post">
            <div class="user_info">
                <input type="password" name="password" placeholder="Enter new password" required autofocus>
            </div>
            <div class="user_info">
                <input type="submit" value="Submit">
            </div>      
        </form>
    </div>
    <div class="login_note">{{jinja.note}}</div>
    {% endfor %}            
</div>
{% endblock %}