{% extends "base.html" %}
{% block content %}

<div>
    {% for f in form1 %}
    <form action="" class="login" method="post">
        <input type="text" name="email" placeholder="Enter username">
        <input type="password" name="password" placeholder="Enter password">
        <input type="submit" value="Submit">
    </form>
    {% endfor %}
    <div class="note">{{note}}</div>
    {% for f in form2 %}
    <form action="" method="post">
        <input type="password" name="new_password" placeholder="Enter new password">
        <input type="submit" value="Submit">
    </form>
    {% endfor %}
</div>

{% endblock %}