{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" href="../static/student_teacher.css">
<script type="text/babel" src="/static/user.js"></script>
<script type="text/babel" src="/static/teacherCourses.js"></script>
<div class="main_teacher_profile">
    {% for s in jinja.section %}
        <div class="teacher_profile" id="{{jinja.js[0]}}"></div>
        <div id="{{jinja.js[1]}}"></div> 
    {% endfor %}
    {% for a in jinja.attend %}    
        <div class="main_check_attend">
            <div class='course_name_attend'>{{jinja.attend_title}}</div>
            <div class="current_date">{{jinja.current_date}}</div>
            {% for no in jinja.no_students%}
                <div class="t_no_students" >{{no}}</div>
            {% endfor %}
            <div class="students" >
                {% for student in jinja.students_attend %}
                <div class="student_atten">
                    <form  class="atten_details" method="post">
                        <div class="student_name_attend">{{student.name}}</div>
                        <div class="answer"> 
                            <div>Yes<input type="radio" name="attendance" id="" value="yes" {{student.attend.yes}}></div>
                            <div>No<input type="radio" name="attendance" id="" value="no" {{student.attend.no}}></div>
                            <div><input type="submit" value="Set"></div> 
                            <input type="hidden" name="student_id" value="{{student.id}}">
                        </div>
                    </form>
                </div>
                {% endfor %}
                <div class="done"><a href="/teacher_profile/{{jinja.teacher_id}}">{{jinja.link}}</a></div>
            </div>
        </div>
    {% endfor %}
    {% for g in jinja.grades %}
        <div class="main_update_grade" >
            <div class='course_name_attend'>{{jinja.grades_title}}</div>
            {% for no in jinja.no_students%}
                <div class="t_no_students" >{{no}}</div>
            {% endfor %}
            <div class="students_grades" >
                {% for student in jinja.students_grades %}
                <div class="student_atten">
                    <form  class="atten_details" method="post">
                        <div class="student_name_attend">{{student.name}}:</div>
                        <div ><input type="number" name="grade" value="{{student.grade}}" class="t_student_grade" autofocus></div> 
                        <div><input type="submit" value="Update"></div>
                        <input type="hidden" name="student_id" value="{{student.id}}">
                    </form>
                </div>
                {% endfor %}
            </div>
            <div class="done"><a href="/teacher_profile/{{jinja.teacher_id}}">{{jinja.link}}</a></div>
        </div>
    {% endfor %}
{% endblock %}