{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" href="../static/teacher.css">
<script type="text/babel" src="/static/teacher.js"></script>
<script type="text/babel" src="/static/teacherCourses.js"></script>
<div class="main_teacher_profile">
    {% for s in jinja.section %}
           
        <div class="teacher_profile" id="{{jinja.js[0]}}"></div>
        <div id="{{jinja.js[1]}}"></div> 
    {% endfor %}
    {% for form in jinja.form %}
    <div class="teacher_information">
        <form action="" method="post">
            {% for teacher in jinja.teacher %}
                <div>
                    Edit Email: <input type="email" name="email" value="{{teacher.email}}"  title="example@example.com">
                </div> 
                <div>
                    Edit Mobile Number: <input type="tel" name="phone" value="{{teacher.phone}}" title="example: 050-1234567"  pattern="[0-9]{3}-[0-9]{7}"> 
                </div> 
            {% endfor %}
            <input type="submit" value="Update">
            {% for note in jinja.note %}
                <div class="t_note">{{note}}</div>
            {% endfor %}
        </form>          
    </div>
    {% endfor %}

{% endblock %}