{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" href="../static/teacher.css">
<script type="text/babel" src="/static/teacher.js"></script>
<script type="text/babel" src="/static/teacherCourses.js"></script>
<div class="main_teacher_profile">
    {% for s in jinja.section %}
        <div class="teacher_profile" id="{{jinja.js[0]}}"></div>
        <div id="{{jinja.js[1]}}"></div> 
    {% endfor %}
    {% for form in jinja.form %}
    <div class="teacher_information">
        <form action="" method="post">
            {% for teacher in jinja.teacher %}
                <div>
                    Edit Email: <input type="email" name="email" value="{{teacher.email}}"  title="example@example.com">
                </div> 
                <div>
                    Edit Mobile Number: <input type="tel" name="phone" value="{{teacher.phone}}" title="example: 050-1234567"  pattern="[0-9]{3}-[0-9]{7}"> 
                </div> 
            {% endfor %}
            {% for note in jinja.note %}
                <div class="t_note">{{note}}</div>
            {% endfor %}
            <div class="t_info_click">
                <input type="submit" value="Update">
                <a href="">Change password</a>
            </div>
        </form>          
    </div>
    {% endfor %}
    {% for a in jinja.attend %}    
        <div class="main_check_attend">
            <div class='course_name_attend'>{{jinja.attend_title}}</div>
            <div class="current_date">{{jinja.current_date}}</div>
            {% for no in jinja.no_students%}
                <div class="t_no_students" >{{no}}</div>
            {% endfor %}
            <div class="students" >
                {% for student in jinja.students_attend %}
                <div class="student_atten">
                    <form  class="atten_details" method="post">
                        <div class="student_name_attend">{{student.name}}</div>
                        <div class="answer"> 
                            <div>Yes<input type="radio" name="attendance" id="" value="yes" {{student.attend.yes}}></div>
                            <div>No<input type="radio" name="attendance" id="" value="no" {{student.attend.no}}></div>
                            <div><input type="submit" value="Set"></div> 
                            <input type="hidden" name="student_id" value="{{student.id}}">
                        </div>
                    </form>
                </div>
                {% endfor %}
                <div class="done"><a href="/teacher_profile/{{jinja.teacher_id}}">{{jinja.link}}</a></div>
            </div>
        </div>
    {% endfor %}
    {% for g in jinja.grades %}
        <div class="main_update_grade" >
            <div class='course_name_attend'>{{jinja.grades_title}}</div>
            {% for no in jinja.no_students%}
                <div class="t_no_students" >{{no}}</div>
            {% endfor %}
            <div class="students_grades" >
                {% for student in jinja.students_grades %}
                <div class="student_atten">
                    <form  class="atten_details" method="post">
                        <div class="student_name_attend">{{student.name}}:</div>
                        <div ><input type="number" name="grade" value="{{student.grade}}" class="t_student_grade"></div> 
                        <div><input type="submit" value="Update"></div>
                        <input type="hidden" name="student_id" value="{{student.id}}">
                    </form>
                </div>
                {% endfor %}
            </div>
            <div class="done"><a href="/teacher_profile/{{jinja.teacher_id}}">{{jinja.link}}</a></div>
        </div>
    {% endfor %}
{% endblock %}