{% extends "base.html" %}
{% block content %}
<div class="link"><a  href="/attendance">Update Attendance</a></div>
<div class="chose_teacher">
    <div>
        {% for teacher in teachers %}
        <div><a href="/teacher/{{teacher.tid}}">{{teacher.name}}</a></div>
        {% endfor %}
    </div>
</div>

<div class="update_grage">
    <div>{% for t in teacher %}
        {{t.name}}:
        {% endfor %}
    </div>
    {% for course in students_courses %}
        <div>{{course[0]}}</div>
        {% for student in course[1:] %}
            <div>{{student.student_name}}</div>
            <form action="" method="post">
                <input type="text" name="new_grade" value="{{student.grade}}">
                <input type="hidden" name="student_id" value="{{student.student_id}}">
                <input type="hidden" name="course_id" value="{{student.course_id}}">
                <input type="submit" value="Change ">    
            </form>
        {% endfor %}
    {% endfor %}
</div>


{% endblock %}