{% include "admin_nav_courses.html" %}
    <div class="courses_update">
        <div class="course_option">        
            <div>
                {% for f in form %}
                <form action="" method="POST">
                    <input type="text" name="search" placeholder="Enter course name" autofocus>
                    <input type="submit" value="Search">
                </form>
                {% endfor %}
            </div>
            <div class="info_courses_update">{{result}}
                {% for course in courses_objects %}
                <div class="info_course_update">                
                    <a class="course_link" href="/chosen_course/{{course.tid}}">
                        <div class="link_name">{{course.name}}</div>
                        <div>{{course.start}}</div></a>
                </div>
                {% endfor %}
                {% for course in courses %}
                <div class="info_course_update">
                    <a class="course_link" href="/chosen_course/{{course.tid}}">
                        <div class="link_name">{{course.name}}</div>
                        <div>{{course.start}}</div></a>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="main_chosen_course">
            <div class="title_chosen_course">{{chosen_course.title_chosen}}</div>
            <form class="info_chosen_course" action="" method="POST">
                {% for course in chosen_course.course_info %}
                Course Name: <input type="text" name="name" value="{{course.name}}" required autofocus>
                Course Description: <input type="text" name="description" value="{{course.description}}">
                Course Teacher:
                {% endfor %}
                {% for f in form2 %}
                    <select name="teacher_id" id="">
                        <option value="{{teacher_info[0]}}">{{teacher_info[1]}}</option>
                    {% for teacher in chosen_course.teachers %}
                        <option name="" value="{{teacher.tid}}">{{teacher.name}}</option>
                    {% endfor %}
                    </select>
                {% endfor %}
                    {% for course in chosen_course.course_info %}
                    Course Start Date: <input type="date" name="start" value="{{course.start[0]}}" >
                    Course Day: <select name="day" id="">
                    <option value="{{course.day}}">{{course.day}}</option>
                    <option value="Sunday">Sunday</option>    
                    <option value="Monday">Monday</option>
                    <option value="Tuesday">Tuesday</option>
                    <option value="Wednesday">Wednesday</option>
                    <option value="Thursday">Thursday</option>
                    <option value="Friday">Friday</option>
                    </select>
                    Course Time: <input type="time" name="time" value="{{course.time}}">
                <input id="submit" type="submit" value="submit">
                <div class="note">{{note}}</div>
                {% endfor %}
            </form>    
        </div>   
    </div>
    <div class="info_more_links">
        {% for l in course_dict.link1 %}
        <div>
            <a href="/chosen_course/{{course_dict.id}}">Update course</a>
        {% endfor %}
        </div>
        <div>
        {% for l in course_dict.link2 %}
            <a href="/attendance_course/{{course_dict.id}}">Check Attendance</a>
        {% endfor %}
        </div>
        <div>
        {% for l in course_dict.link3 %}
            <a href="/update_course_attendance/{{course_dict.id}}">Update Attendance</a>           
        {% endfor %} 
        </div>
    </div>   
</div>
