{% include "admin_nav_teachers.html" %}

    <div class="teachers_update">
        <div class="teacher_option">     
            <div>
                <form action="" method="POST">
                    <input type="text" name="search" placeholder="Enter teacher name">
                    <input type="submit" value="Search">
                </form>
            </div>
            <div class="info_teacher_update">{{result}}
                {% for teacher in teacher_objects %}
                <div class="info_teacher_update"><a href="/chosen_teacher/{{teacher.tid}}">{{teacher.name}} </a></div>
                {% endfor %}
                {% for teacher in teachers %}
                <div class="info_teacher_update"><a href="/chosen_teacher/{{teacher.tid}}">{{teacher.name}} </a></div>
                {% endfor %}
            </div>
        </div>   
    </div>   
</div>
